<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.32">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.65">
    <script>node {
    environment {
        DISABLE_AUTH = &apos;true&apos;
        DB_ENGINE    = &apos;sqlite&apos;
    }
    stage(&quot;Create Build&quot;){
        echo &quot;Hello&quot;
    }
    stage(&quot;Create Image&quot;){
        sh &apos;printenv&apos;
    }
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
  <disabled>false</disabled>
</flow-definition>